---

---

<section class="mt-[150px] flex flex-wrap gap-10 items-center">
    <img src="/images/avatar.png" class=" gr-purple"/>
    <div>
        <p class="main-font-4">A Designer who </p>
        <p class="text-[50px] main-font-1">
            Judges a book<br>
            <span class="new-line relative">
					by its
					<span class="text-text-purple ">
							cover
					</span>
					<img src="/images/ellipse.png" class="sm:block sm:absolute hidden bottom-2 right-[60px] w-[189px]"/>
				</span>
        </p>
        <p class="main-font-4">Because if the cover does not impress you what else can?</p>
    </div>
    <article>
        <p class="main-font-1">I'm a software Engineer!</p>
        <p class="main-font-3">Currently, i'm a Fullstack Developer at Xcapit.</p>

        <p class="main-font-3">
            A self-taught FullStack Dev, functioning in the industry for 1+ years now.
        </p>
    </article>
</section>


<style>
    .new-line{
        display: block;
        margin-top: 10px;
    }
</style>
