---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero/Hero.astro";
import Experience from "../components/Experience/Experience.astro";
---

<Layout title="Welcome to Astro.">
    <main class="min-h-screen w-full">
        <!-- Hero -->
        <Hero/>

        <!-- Experience	-->

        <Experience/>
    </main>
</Layout>


